<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React实例</title>
    <script src="http://static.runoob.com/assets/react/react-0.14.7/build/react.min.js"></script>
    <script src="http://static.runoob.com/assets/react/react-0.14.7/build/react-dom.min.js"></script>
    <script src="http://static.runoob.com/assets/react/browser.min.js"></script>
</head>
<body>
<div id="example"></div>
</body>

<!--JSX-->
<script type="text/babel">
    //创建一个组件类 （用于输出 Hello World）
    var HelloMessage = React.createClass({
        render: function () {
            return <h1>Hello World</h1>
        }
    });

    ReactDOM.render(<HelloMessage/>, document.getElementById('example'));

</script>

</html>