<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <script src="js/jquery.js"></script>
</head>
<body>
<div id="start">
    <div style="display:none">
        <img id="starImg" style="height:100%; width:100%;" src="img/invitation.png" />
    </div>
    <canvas id="main" height="730" width="420" style="border:1px solid #d3d3d3;"></canvas>
    <input type="text" id="desc" onblur="hechen()" value="" />
	
    <button onclick="saveImageInfo()">确认生成</button>
	</div>
<div id="result" style="display:none"></div>
<script>
    $(function(){
        hechen();
    });

    function hechen(){
        var mydate = new Date();
        var date = mydate.getFullYear()+'-'+(mydate.getMonth()+1)+'-'+mydate.getDate();
        var mainCtx = getCanvasContext('main');
        var maxWidth = mainCtx.width;
        var maxHeight = mainCtx.height;
        mainCtx.clearRect(0,0,1000,1000);
        //因为没法直接读取本地图片 所以做了这部操作

        var starImg = new Image();
        starImg.src=$('#starImg').attr('src');

        starImg.onload=function(){
            //先把图片绘制在这里
            mainCtx.drawImage(starImg,0,0,420,730);


            //读取用户的文本
            if($('#desc').val()){
                mainCtx.font = "small-caps bold 18px STXinwei";
                //设置用户文本填充颜色
                mainCtx.fillStyle = "black";
                //从坐标点(50,50)开始绘制文字
                mainCtx.fillText($('#desc').val(),108,335);
                //设置时间填充颜色
                mainCtx.font = "small-caps bold 16px STXinwei";
                mainCtx.fillText(date,326,447);
            }

        };

    }

    function getCanvasContext(id){
        return document.getElementById(id).getContext("2d");
    }

    function saveImageInfo() {
        var mycanvas = document.getElementById("main");
        var image = mycanvas.toDataURL("image/jpg");
        // var w=window.open('about:blank','image from canvas');
		$("#start").hide();
		$("#result").show().html("<img src='"+image+"' alt='from canvas'/>");
		// w.document.write("<img src='"+image+"' alt='from canvas'/>");
    }

    function saveAsLocalImage(){
        var myCanvas = document.getElementById("main");
        var image = myCanvas.toDataURL("image/jpg").replace("image/jpg", "image/octet-stream");
        window.location.href=image;
    }

</script>

</body>
</html>
