body {   
    width:560px;
    margin:0px auto;
    padding:0px; 
    color:#888;
}

div { padding:5px;}
div.divTc { text-align:center;}
.aspPnl { padding:5px; margin:5px; border:1px solid gray; text-align:center;}

p { margin:15px; padding:5px; border-bottom:1px dotted #dadada;}
#div_animal,#div_food
    { width:40%; float:left; }
#div_food
    { float:right;}
.blk { display:block;}


h2,h3,h4{ margin:0px; padding:5px 0px 10px 0px; color:RGB(200,100,5); text-align:center; border-bottom:1px dotted gray;}
h2 { font-size:22px;}

span.spMemo { color:#666; font-weight:bold;}


a
    { font-size:14px;
      display:block;
      text-decoration:none;
      color:#666;  
      padding:5px; }
      
a:visited
    { color:#999;}      
a:hover
    { color:RGB(200,100,5);}
a:active
    { color:Red;}
