* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 微软雅黑;
}

header {
    height: 60px;
    line-height: 60px;
    width: 100%;
    color: #fff;
    font-family: "黑体";
    font-weight: 200;
    font-size: 20px;
    /*背景色渐变*/
    background: linear-gradient(to bottom right, #F56739, #FB9749);
}

#content {
    /*background: linear-gradient(to bottom right, #f5f454, #fbd1b7);*/
}

.menu {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: #474747;
    padding-top: 10px;
    border-top: 1px solid #eee;
    background-color: #fff;
}

.subMenu {
    width: 33%;
    float: left;
    cursor: pointer;
}

.menu_name {
    height: 30px;
    width: 100%;
    line-height: 30px;
}

.img_16 {
    width: 16px;
    height: 16px;
}

.img_24 {
    width: 24px;
    height: 24px;
}

img.menu_img {
    height: 24px;
    width: 24px;
}

img {
    vertical-align: middle;
    border: 0;
}

.active {
    color: #FFA129;
}

.text-center {
    text-align: center
}

.container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.row {
    margin: 0 !important;
    margin-top: 10px !important;
}

.bottomBorder {
    border-bottom: 1px #eee solid;
}

address {
    margin-bottom: 0 !important;
}

#pageNum {
    padding: 10px;
}

#available {
    color: #FFA129;
}

#distance {
    margin: 0 !important;
}

.count {
    color: #848484;
    font-size: 12px;
    margin-top: 10px;
}