<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            border: rgba(8, 8, 8, 0.44) solid 1px;
            margin: 100px;
            border-width: 2px;
            margin-left: 33%;
            margin-right:33%;
            text-align: center;
            padding: 20px 20px 20px 20px;

        }
    </style>
    <title>弹幕</title>
</head>
<body>
<textarea style="width: 80%" height="80%"></textarea><br /><br /><br />
<input id="sendbtn" type="button" value="发送">
<input id="cleabtn" type="button" value="清空">

</body>
</html>