<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
        .jumbotron {
            padding: 20px !important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <header class="page-header"><h3>个人基本信息简介</h3></header>
    <div class="row">
        <div class="col-sm-4">
            <!--加入引用模块-->
            <blockquote>
                <h3>姓名：李梅</h3>
                <footer>性别：男</footer>
                <footer>个性宣言：一名即将步入社会的青年才俊</footer>
            </blockquote>
            <div class="row text-center">
                <!--响应式图片根据父容器自动缩放，圆形，相框边-->
                <img src="../image/icon.jpeg" alt="zyzhang" style="height: 250px;width: 250px"
                     class="img-responsive img-circle img-thumbnail">
            </div>
            <br/>
            <div class="row text-center">
                <div class="col-sm-4">
                    <h4><abbr title="性格开朗,乐于助人">性格开朗</abbr></h4>
                </div>
                <div class="col-sm-4">
                    <h4><abbr title="勤奋好学">勤奋好学</abbr></h4>
                </div>
                <div class="col-sm-4">
                    <h4><abbr title="遵纪守法,良好市民">遵纪守法</abbr></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="jumbotron">
                <h3>自我认识</h3>
                <hr>
                <p>忠实诚信,讲原则，说到做到，决不推卸责任。</p>
                <p>3年的大学生涯，让我的组织协调能力、管理能力、应变能力等大大提升，使我具备良好的心理素质，让我在竞争中拥有更大的优势，让我在人生事业中走得更高更远。</p>
                <p>有志者事竟成，我坚信唯有付出才有收获。</p>
                <p>命运像掌纹一样曲曲折折，但是它确始终掌握在自己的手中，未来的路还很长，而我将不懈努力，一直奋斗下去。</p>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed table-hover">
                    <tbody>
                    <tr>
                        <td>姓名</td>
                        <td>xxx</td>
                        <td>年龄</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>学历</td>
                        <td>大专</td>
                        <td>专业</td>
                        <td>xxxxx</td>
                    </tr>
                    <tr>
                        <td>手机</td>
                        <td>183********</td>
                        <td>邮箱</td>
                        <td>12345678@qq.com</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>