* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 1.5625vw;
    /*font-family: "微软雅黑";*/
}

html,
body {
    height: 100%;
    float: left;
}

div {
    width: 1000px;
    height: 500px;
    background-image: url("../img/bg1.jpg");
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    position: fixed;
}

#annualbonus {
    position: absolute;
    width: 19%;
    height: 10%;
    left: 69.4%;
    top: 45.4%;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 4.1VW;
    word-spacing: 8px;
    letter-spacing: 1.53vw;
    font-weight: 500;
    color: red;
}

#annualbonusmax {
    position: absolute;
    width: 48.8%;
    height: 11.8%;
    left: 18.2%;
    top: 41.6%;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 3.88VW;
    word-spacing: 8px;
    letter-spacing: 2px;
}

#company {
    position: absolute;
    width: 38.3%;
    height: 7.6%;
    left: 7.6%;
    top: 14.2%;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2VW;
    font-family: "楷体";
    text-align: center;
    /*word-spacing:8px; */
}

#name {
    position: absolute;
    width: 28%;
    height: 5%;
    left: 16.7%;
    top: 31.2%;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2VW;
    font-family: "楷体";
    word-spacing: 8px;
    letter-spacing: 5px;
}