<!DOCTYPE html>
<meta name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        * {
            font-family: 微软雅黑;
        }

        header {
            height: 60px;
            line-height: 60px;
            width: 100%;
            font-size: 20px;
            background: #fff;
            color: #000;
        }

        .fl {
            float: left;
            margin-left: 20px;
        }

        .fr {
            float: right;
            margin-right: 20px;
        }
    </style>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<header class="text-center">
    <span class="fl"><</span>
    <span class="fr"><</span>
    <span class="text-center">个人中心</span>
</header>
</body>
</html>