body,h1,h2,h3,h4,h5,p { margin:0px; padding:0px;
}

h2{ padding:10px; border-bottom:1px dashed silver;}
p.memo{ text-indent:2em; color:Gray; font-size:12px; padding:15px 0px 15px 0px; background-color:#eaeaea; border-bottom:1px dashed silver; margin:3px;}



.tblFenshu
{ border:1px solid black;
  border-collapse:collapse; }
.tblFenshu th,.tblFenshu td
{ border:1px solid gray; padding:5px;}

.c_r{color:Red;}
.c_g{color:Green;}
.c_b{color:Blue;}




#tbl_summary,#tbl_summary2
             { border:1px solid gray;
              border-collapse:collapse;
              padding:5px;  }

td,th
                { padding:10px; border:1px solid silver;
                    }           