<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="mydbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\VsWork\WebSite7\mdb\mydb.mdb"
      providerName="System.Data.OleDb" />
    <add name="mydbConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\VsWork\WebSite7\mdb\mydb.mdb"
      providerName="System.Data.OleDb" />
    <add name="mydbConnectionString3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\VsWork\WebSite7\mdb\mydb.mdb"
      providerName="System.Data.OleDb" />
    <add name="mydbConnectionString4" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\VsWork\WebSite7\mdb\mydb.mdb"
      providerName="System.Data.OleDb" />
    <add name="mydbConnectionString5" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\VsWork\WebSite7\mdb\mydb.mdb"
      providerName="System.Data.OleDb" />
    <add name="mydbConnectionString6" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\VsWork\WebSite7\mdb\mydb.mdb"
      providerName="System.Data.OleDb" />
    <add name="mydbConnectionString7" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\VsWork\WebSite7\mdb\mydb.mdb"
      providerName="System.Data.OleDb" />
    <add name="mydbConnectionString8" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\VsWork\WebSite7\mdb\mydb.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>